@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');


:root {
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'DM Sans', sans-serif;
  letter-spacing: 0.05em;
}

h1 {
  @apply text-h1 font-bold;
}

h2 {
  @apply text-h2 font-semibold;
}

h3 {
  @apply text-h3 font-medium;
}
h4 {
  @apply text-h4 font-bold;
}

h5 {
  @apply text-h5 font-semibold;
}

h6 {
  @apply text-h6 font-medium;
}
